# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Firebase configs auto-générées
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# OS & IDE
.vscode/
.idea/
*.iml
.DS_Store